@model TangoApp.Models.Group
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

@using (Html.BeginForm("Edit", "Groups", new { id = Model.GroupId }, FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.Hidden("GroupId")
    @Html.Label("GroupName", "Titlul grupului");
    <br />
    @Html.TextArea("GroupName", new { @class = "form-field" })
    <br />
    @Html.ValidationMessageFor(u => u.GroupName, null, new { @class = "text-danger" })
    @Html.Label("Description", "Descrierea");
    <br />
    @Html.TextArea("Description", new { @class = "form-field" })
    <br />
    @Html.ValidationMessageFor(u => u.Description, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-orange" type="submit">Modifica grup</button>

}