
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

    <div class="list-group">
        <a href="#" class="list-group-item disabled">
            Your friends
        </a>
        @foreach (var user in ViewBag.Friends)
        {
        <div class="list-group-item">
            <a href="#">@user.Email</a>
            <form method="post" action="/Users/Block">
                <input type="hidden" name="UserId" value="@user.Id" />
                <button type="submit">Block</button>
            </form>
           @using (Html.BeginForm(actionName: "Unfriend", controllerName: "Users", method: FormMethod.Post))
           { 
               @Html.HttpMethodOverride(HttpVerbs.Delete)
               <input type="hidden" name="UserId" value="@user.Id" />
                <button type="submit">Unfriend</button>
           }
        </div>
        }
    </div>
   <br/>
   <div class="list-group">
       <a href="#" class="list-group-item disabled">
           Blocked users
       </a>
       @foreach (var user in ViewBag.BlockedUsers)
       {
           <div class="list-group-item">
               <a href="#">@user.Email</a>
               <form method="post" action="/Users/Unblock">
                   @Html.HttpMethodOverride(HttpVerbs.Delete)
                   <input type="hidden" name="UserId" value="@user.Id" />
                   <button type="submit">Unblock</button>
               </form>
           </div>
       }
   </div>
   <div class="list-group">
       <a href="#" class="list-group-item disabled">
           Tango with other users
       </a>
       @foreach (var user in ViewBag.Users)
       {

           <div class="list-group-item-heading">@user.Email</div>
           <p class="list-group-item-text d-block">
               <form method="post" action="/Users/AddFriend">
                   <input type="hidden" name="UserId" value="@user.Id" />
                   <button type="submit">Add Friend</button>
               </form>
               <form method="post" action="/Users/Block">
                   <input type="hidden" name="UserId" value="@user.Id" />
                   <button type="submit">Block</button>
               </form>
           </p>
       }
   </div>