@model TangoApp.Models.Profile
@{
    ViewBag.Title = "Edit";
}

<h2>Edit profile</h2>

<p>@ViewBag.Err</p>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Profile"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.ProfileId)

    <p>Profile vizibility:</p>
    <p>@Html.RadioButtonFor(Model => Model.ProfileVisibility, "true") public </p>
    <p>@Html.RadioButtonFor(Model => Model.ProfileVisibility, "false") private </p>

    @Html.HiddenFor(m => m.UserId)
    @Html.Label("Text", "DDescription content")
    <br />
    @Html.EditorFor(m => m.Description)
    <br />
    @Html.ValidationMessageFor(m => m.Description)
    <br />

    <p>Gender:</p>
    <p>@Html.RadioButtonFor(Model => Model.Gender, "true") female </p>
    <p>@Html.RadioButtonFor(Model => Model.Gender, "false") male </p>

    <label>Selectati Tara</label>
    @Html.DropDownListFor(m => m.CountryId,
        new SelectList(Model.Countries, "Value", "Text"),
        "Select country", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
    <br />

    <label>Selectati Orasul</label>
    @Html.DropDownListFor(m => m.CityId,
        new SelectList(Model.Cities, "Value", "Text"),
        "Select city", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Date", "Birthday")
    <br />

    @Html.TextBox("Date", "", new { @class = "form-control datepicker", @placeholder = "Pick a date" })

    <button class="btn btn-sm btn-succes" type="submit">Edit profile</button>
}