@model TangoApp.Models.Profile
@{
    /**/

    ViewBag.Title = "Show";
}

<h2>Your profile</h2>
<br />
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}
@if (ViewBag.AfisareButon)
{
    <form method="post" action="/Groups/ShowPrivateConv">
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <button type="submit" class="btn btn-default">Trimite-i mesaj</button>
    </form>
}
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

@if (Model.UserId==ViewBag.currentUser)
{
    <a href="/Profile/Edit/@Model.ProfileId" class="btn btn-success">Editeaza profilul</a>
}
<br /><br />
@if (Model.ProfileVisibility == true)
{
    <p>Profile visibility: public</p>
}
else
{
    <p>Profile visibility: private</p>
}

<p>
    Description: @if (@Model.Description != null)
    {
        @Model.Description;
    }
</p>

<p>
    @if (@Model.Gender != null)
    {
        if (Model.ProfileVisibility == true)
        {
        <p>Gender: female</p>
    }
    else
    {
        <p>Gender: male</p>
    }
}
    </p>

    <p>
        Country: @if (@Model.Country != null)
        {
            @Model.Country.CountryName
        }
    </p>

    <p>
        City: @if (@Model.City != null)
        {
            @Model.City.CityName
        }
    </p>

    <p>
        Birthday: @Html.DisplayFor(Model => Model.Birthday, "MM/dd/yyyy")
    </p>
