@model TangoApp.Models.Post
@{
    ViewBag.Title = "Edit";
}

<h2>Editare postare</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = Model.PostId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.Hidden("PostId")
    @Html.Label("Text","Continutul postarii")
    @Html.ValidationMessage("Text","",new { @class = "text-danger" })
<br/>
    @Html.Editor("Text")
<br/>
<br/>
    <button class="btn btn-succes"type="submit">Editeaza postarea</button>
}
