@model TangoApp.Models.Post
@{
    /**/

    ViewBag.Title = "Edit";
}

<h2>Editare postare</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}
<!--the parameters are: string,string,routevalues, method, htmlAttributes -->
@using (Html.BeginForm("Edit", "Posts", new { id = Model.PostId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.Hidden("PostId")
    @Html.Label("Text", "Continutul postarii")
    @Html.ValidationMessage("Text", "", new { @class = "text-danger" })
    <br />
    <div>
        @Html.TextArea("Text", new { @class = "form-control form-field" })
    </div>
    <br />
    if (Model.Media != null && Model.Media.ToList().Any())
    {
        foreach (var image in Model.Media.ToList())
        {

            <img src="~/Files/@Model.Media.ToList().First().FileName" alt="image" height="400" />
            <br />
            <label>Change picture</label>
            <input type="file" name="uploadedMedia" />

        }
    }
    else
    { <label> Add an image</label>
        <input type="file" name="uploadedMedia" />

        <br />
    }
    <input class="btn btn-orange" type="submit" value="Edit" />
    <br />
}
