<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
@{
    /**/

    /**/

    /**/

    ViewBag.Title = "Index";
}

@Html.Partial("Search")
<a class="btn btn-orange" href="/Profile/Index">Profiles</a>
<h2>Posts</h2>

@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}
<br />
<br />
<div class="profile-timeline">
    <ul class="list-unstyled">
        @foreach (TangoApp.Models.Post post in ViewBag.Posts)
        {
        <div class="container bootdey">
            <div class="col-md-12 bootstrap snippets">
                <div class="panel">
                    <div class="panel-body">
                        @{
                            <a href="/Profile/Show/@post.User.ProfileId" class="h3 text-semibold media-heading box-inline">@post.User.UserName</a>
                            <p class="text-muted text-sm pull-right"><i class="fa fa-mobile fa-lg"></i>@post.Date</p>
                            <br />
                            <br />
                            <a href="/Posts/Show/@post.PostId" class="h4">@post.Text</a>
                            <br />
                            <br />
                            if (post.Media != null)
                            {
                                foreach (var image in post.Media.ToList())
                                {

                                    <img src="~/Files/@image.FileName" alt="image" height="400" />
                                    <br />
                                    if (ViewBag.afisareButoane == true && post.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
                                    {
                                        using (Html.BeginForm(actionName: "Delete", controllerName: "Media", method: FormMethod.Post, routeValues: new { id = image.FileId }))
                                        {

                                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                                            <button class="d-inline btn btn-danger float-right position-relative" type="submit">Sterge poza</button>

                                        }
                                        <br />
                                    }

                                }
                            }
                        }
                    </div>
                </div>
            </div>
         </div>
                  
                    foreach (TangoApp.Models.Comment com in post.Comments)
                    {
                    <div class="container bootdey">
                        <div class="col-md-12 bootstrap snippets">
                            <div class="panel">
                                <div class="panel-body">
                                    <!-- Newsfeed Content -->
                                    <!--===================================================-->
                                    <div class="media-block">
                                        <div class="media-body">
                                            <div class="mar-btm">
                                                <a href="/Profile/Show/@com.User.ProfileId" class="btn-link text-semibold media-heading box-inline">@com.User.UserName</a>
                                                <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i>@com.Date</p>
                                            </div>
                                            <p>@com.Text</p>

                                            <!-- Comments -->

                                        </div>
                                    </div>
                                    <!--===================================================-->
                                    <!-- End Newsfeed Content -->

                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    <hr />
                    }
</ul>
</div>

