@{
    ViewBag.Title = "Newsfeed";
}

<br />
<br />
<br />
<br />


<div class="container bootdey">
    <div class="col-md-12 bootstrap snippets">
        <div class="panel">
            <div class="panel-body">
                <form method="post" action="/Posts/New">
                    <textarea class="form-control" rows="2" placeholder="What are you thinking?" name="Text"></textarea>
                    <div class="mar-top clearfix">
                        <button class="btn btn-sm btn-orange pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i>Post</button>
                        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<h2>Newsfeed</h2>

@foreach (TangoApp.Models.Post post in ViewBag.Posts)
{
    <div class="container bootdey">
        <div class="col-md-12 bootstrap snippets">
            <div class="panel">
                <div class="panel-body">
                    <div class="post-container">
                        <a href="/Posts/Show/@post.PostId" style=" color: inherit; text-decoration: inherit ">
                            <div class="card" style="height: auto; width: 70vw">
                                <div class="card-body">
                                    <a href="Profiles/Show/@post.User.ProfileId" class="h3 text-semibold media-heading box-inline">@post.User.UserName</a>
                                    <p class="text-muted text-sm pull-right"><i class="fa fa-mobile fa-lg"></i>@post.Date</p>
                                    <br />
                                    <br />
                                    <a href="/Posts/Show/@post.PostId" class="h4">@post.Text</a>
                                    <br />
                                    <br />
                                    @if (post.Media != null)
                                    {
                                        foreach (var image in post.Media.ToList())
                                        {

                                            <img src="~/Files/@image.FileName" alt="image" height="400" />
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    foreach (TangoApp.Models.Comment com in post.Comments.ToList().OrderBy(i => i.Date).Take(3))
    {
        <div class="container bootdey">
            <div class="col-md-12 bootstrap snippets">
                <div class="panel">
                    <div class="panel-body">
                        <!-- Newsfeed Content -->
                        <!--===================================================-->
                        <div class="media-block">
                            <div class="media-body">
                                <div class="mar-btm">
                                    <a href="Profiles/Show/@com.User.ProfileId" class="btn text-semibold media-heading box-inline">@com.User.UserName</a>
                                    <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i>@com.Date</p>
                                </div>
                                <p>@com.Text</p>

                                <!-- Comments -->

                            </div>
                        </div>
                        <!--===================================================-->
                        <!-- End Newsfeed Content -->

                    </div>
                </div>
            </div>
        </div>
    }

    <form method="post" action="/Posts/NewComment/@post.PostId">
        <input type="hidden" name="PostId" value="@post.PostId" />
        <input type="text" class="form-control" name="Text" placeholder="Post a comment">
        <button class="btn btn-sm btn-orange" type="submit"><i class="fa fa-pencil fa-fw"></i>Add</button>
    </form>
    <hr />

}
