@model TangoApp.Models.Post


@{
    ViewBag.Title = "Show";
}


<h2>Vizualizare postare</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

@Html.Partial("ShowPost", Model)
@if (Model.Media != null)
{
    foreach (var image in Model.Media.ToList())
    {

        <img src="~/Files/@image.FileName" alt="image" height="400" />
        <br />
        if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
        {
            using (Html.BeginForm(actionName: "Delete", controllerName: "Media", method: FormMethod.Post, routeValues: new { id = image.FileId }))
            {

            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="d-inline btn btn-danger float-right position-relative" type="submit">Sterge poza</button>

            }
            <br/>
        }

    }
}
@if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
{

    @Html.ActionLink("Editeaza postarea", "Edit", new { id = Model.PostId }, new { @class = "d-inline btn btn-info float-left position-relative" })
    using (Html.BeginForm(actionName: "Delete", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = Model.PostId }))
    {

        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="d-inline btn btn-danger float-right position-relative" type="submit">Sterge postarea</button>

    }
}
<br />
@foreach (TangoApp.Models.Comment com in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@com.Text</p>
                    <small class="pull-right">@com.Date</small>
                    <small class="pull-left">@com.User.Email</small>
                </div>
                @if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin || ViewBag.utilizatorCurent == com.UserId)
                {
                    if (ViewBag.utilizatorCurent == com.UserId || ViewBag.esteAdmin)
                    {<div style="display: inline-block; float : left; margin-right: 15px">
                            <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@com.CommentId"></a>
                        </div>
                    }

                    <div style="display: inline-block; float : left">
                        @using (Html.BeginForm(actionName: "Delete", controllerName: "Comments", method: FormMethod.Post, routeValues: new { id = com.CommentId }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr />
}
<form method="post" action="/Posts/NewComment/@Model.PostId">
    <div class="panel-body">
        <input type="hidden" name="PostId" value="@Model.PostId" />
        <label>Continut comentariu</label>
        <br />
        <textarea class="form-control" name="Text">@if (ViewBag.Comment != null) {@ViewBag.Comment.Text}</textarea>
        @Html.ValidationMessage("Text", "", new { @class = "text-danger" })
        <br />
        <button class="btn btn-success " type="submit">Adauga comentariu</button>
    </div>
</form>
<hr />
<a class="btn btn-info" href="/Posts/Index">Inapoi la pagina principala</a>